{{#partial "page"}}
  <header class="cart-header page-header {{#unless cart.items}}cart-empty{{/unless}}">
    <h1 class="cart-title section-title">
      {{#if cart.items}}{{lang 'cart.title'}}{{else}}{{lang 'cart.empty'}}{{/if}}
    </h1>
  </header>

  <section class="product-listing section">
    <div class="container">
      {{#if cart.items}}
        <div data-cart-content>
          {{> components/cart/content}}
        </div>

        <div class="cart-totals" data-cart-totals>
          {{> components/cart/totals}}
        </div>
      {{else}}
        <div class="cart-empty">
          <a href="{{urls.home}}" class="button">{{lang 'cart.keep_shopping'}}</a>
        </div>
      {{/if}}

      {{{snippet 'cart'}}}
    </div>
  </section>
{{/partial}}
{{> layout/base}}

<script>
  {{#if page_type '===' 'cart'}}
    var cartItems = [];
    {{#each cart.items}}
      var itemPrice = parseFloat({{price.value}});
      var itemQuantity = parseInt({{quantity}});
      cartItems.push({
        'item_id': '{{#if sku}}{{sku}}{{else}}{{product_id}}{{/if}}',
        'item_name': '{{name}}',
        'item_brand': '{{brand.name}}',
        'price': itemPrice,
        'quantity': itemQuantity
      });
    {{/each}}

    // Calculate the total value of items in the cart
    var cartTotal = cartItems.reduce(function(total, item) {
      return total + (item.price * item.quantity);
    }, 0);

    dataLayer.push({
      'event': 'view_carts',
      'ecommerce': {
        'currency': '{{currency_selector.active_currency_code}}',
        'items': cartItems,
        'value': cartTotal
      }
    });
  {{/if}}
</script>

