<div class="u-sep">
    <span class="u-sep-l"></span>
    <h2 class="page-heading">{{lang 'blog.recent_posts' }}</h2>
    <span class="u-sep-r"></span>
</div>


<ul class="emthemesModez-blogGrid {{#if style '==' 'featured'}}emthemesModez-blogGrid--featured{{/if}} emthemesModez-blogGrid--maxCol2 emthemesModez-blogGrid--list">
	{{#each posts}}
		<li class="emthemesModez-blogItem">
	    	{{> components/blog/post post=this hide_social_icons=true hide_content=true settings=../settings}}
	    </li>
	{{/each}}
</ul>
