<article class="product-grid-item product-block" data-product-title="{{name}}" data-product-id="{{id}}">
  <figure class="product-item-thumbnail">
    {{#if price.saved}}
      <div class="product-badge sale"><span class="message">{{lang 'product.sale'}}</span></div>
    {{/if}}
    {{#if out_of_stock_message}}
      <div class="product-badge sold-out"><span class="message">{{out_of_stock_message}}</span></div>
    {{/if}}
    <a class="product-item-thumbnail-image" href="{{url}}" data-product-href="{{url}}" style="background-image: url({{getImage image 'thumb' (cdn default_image)}})">
      <img class="sr-only" src="{{getImage image 'thumb' (cdn default_image)}}" alt="{{image.alt}}" />
      <div class="product-item-mask">
        <div class="product-item-actions">
          {{#if show_compare}}
            <label class="button button-short form-label product-item-compare override-dropdown" for="compare-{{id}}">
              {{> components/common/compare-checkbox}}
              <span>
                <svg class="icon icon-check-mark"><use xlink:href="#icon-check-mark" /></svg>
                {{lang "product.compare"}}
              </span>
            </label>
          {{/if}}

          <button class="button button-secondary inverted button-short" data-quick-shop data-product-id="{{id}}">
            {{lang 'product.quick_view'}}
          </button>
        </div>
      </div>
    </a>
  </figure>

  <div class="product-item-details">
    {{#if brand.name}}
      <div class="product-item-brand">{{brand.name}}</div>
    {{/if}}

    <h1 class="product-item-title">
      <a href="{{{url}}}" alt="{{name}}">{{name}}</a>
    </h1>

    <div class="product-item-price" data-product-price="{{price.without_tax.formatted}}">
      {{> components/products/price price=price}}
    </div>

    {{#if show_compare}}
      <label class="form-label product-item-compare mobile-compare" for="compare-mobile-{{id}}">
        <input
          type="checkbox"
          class="input-checkbox sr-only"
          name="products[]"
          value="{{id}}"
          id="compare-mobile-{{id}}"
          data-compare-checkbox
          data-compare-id="{{id}}"
          data-compare-title="{{name}}"
          data-compare-url="{{url}}"
          data-compare-price="{{price.without_tax.formatted}}"
          data-compare-thumbnail="{{getImage image 'thumb' (cdn default_image)}}">
        <span>
          <svg class="icon icon-check-mark"><use xlink:href="#icon-check-mark" /></svg>
          {{lang "product.compare"}}
        </span>
      </label>
    {{/if}}
  </div>
</article>
