{{> components/emthemes-modez/sections/section section="banner_laparis1_1"}}

{{! MORE BANNER STYLES }}
{{!> components/emthemes-modez/sections/section section="banner_3x_1"}}
{{!> components/emthemes-modez/sections/section section="banner_half_1"}}
{{!> components/emthemes-modez/sections/section section="banner_half_1" style="laparis6" style2="laparis6-left"}}
{{!> components/emthemes-modez/sections/section section="banner_half_1" style="laparis6" style2="laparis6-right"}}
{{!> components/emthemes-modez/sections/section section="banner_half_1" style="laparis6" style2="laparis6-left-right"}}
{{!> components/emthemes-modez/sections/section section="banner_half_1" style="laparis6" style2="laparis6-right-left"}}
{{!> components/emthemes-modez/sections/section section="banner_quarter_1"}}
{{!> components/emthemes-modez/sections/section section="banner_one_1"}}

{{! MORE BANNERS CUSTOMIZED FOR HERECOMESTHEINVITE }}
{{!> components/emthemes-modez/sections/section section="banner_one_1" style="laparis7"}}
{{!> components/emthemes-modez/sections/section section="banner_half_1" style="laparis8"}}
{{!> components/emthemes-modez/sections/section section="banner_half_2" style="laparis8"}}
{{!> components/emthemes-modez/sections/section section="banner_quarter_1" style="laparis9"}}

{{> components/emthemes-modez/sections/section section="new_products"}}
{{> components/emthemes-modez/sections/section section="categories_featured"}}
{{> components/emthemes-modez/sections/section section="popular_products"}}
{{> components/emthemes-modez/sections/section section="blog_recent"}}
{{> components/emthemes-modez/sections/section section="brands_carousel"}}
{{> components/emthemes-modez/sections/section section="instagram_grid"}}
