{{!
  @param nav_items
         > either "pages" or "categories", passed from parent template
}}

{{#each nav_items}}
  <li class="parent {{#if children}}has-children{{/if}}">
    <a class="{{#if image}}has-image{{/if}}" href="{{url}}">{{name}}</a>
    {{#unless ../theme_settings.meganav-show-top-level-only}}
      {{#if children}}
      
       <div class="children-menu-image">
          <div class="cat_menu_title"> <a href="{{url}}">{{name}}</a></div>
           
        <ul class="children">
          {{#each children}}
            <li>
              <a class="{{#if image}}has-image{{/if}}" href="{{url}}">{{name}}</a>
              {{#if children}}
                <ul>
                  {{#each children}}
                    <li><a href="{{url}}">{{name}}</a></li>
                  {{/each}}
                </ul>
              {{/if}}
            </li>
          {{/each}}
        </ul>
         <div class="category-image-container-new">
         <div class="category-image-new" style="background-image: url({{getImage image 'product'}});">
           <img class="sr-only" src="{{getImage image 'product'}}" alt="{{image.alt}}" />
           
        </div>
    </div>
        </div>
      {{/if}}
    {{/unless}}
    
   
    
    
    
    
  </li>
{{/each}}
