{{#partial "page"}}

  <header class="page-header">
    <div class="section-title">
      <h1 class="page-title">{{page.title}}</h1>
    </div>
  </header>

  <section class="section">
    <div class="container container-small">
      {{#if forms.contact.success}}
        {{> components/alerts/alert-success (lang 'contact.successful' shopPath=urls.home)}}
      {{else}}
        <p>{{{page.content}}}</p>
      {{/if}}

      {{#unless forms.contact.success}}
        <div class="form-contact-us">
          {{> core/forms/form-contact-us}}
        </div>
      {{/unless}}
    </div>
  </section>

{{/partial}}

{{> layout/base}}
