
<div class="form-field  {{#if required}}required{{/if}}" data-product-attribute="date">
  <label class="form-label">

    <div class="form-label-text product-option-title">
      {{display_name}}
    </div>
    <div class="date-select-group">
      <div class="form-select-wrapper month">
        <select name="attribute[{{id}}][month]" class="form-input form-select">
          <option disabled>{{lang 'date.month'}}</option>
          {{#enumerate 1 12}}
            <option value="{{this}}" {{#equals ../selected_date.month this}}selected="selected"{{/equals}}>{{getShortMonth this}}</option>
          {{/enumerate}}
        </select>
      </div>

      <div class="form-select-wrapper day">
        <select name="attribute[{{id}}][day]" class="form-input form-select">
          <option disabled>{{lang 'date.day'}}</option>
          {{#enumerate 1 31}}
            <option value="{{this}}" {{#equals ../selected_date.day this}}selected="selected"{{/equals}}>{{this}}</option>
          {{/enumerate}}
        </select>
      </div>

      <div class="form-select-wrapper year">
        <select name="attribute[{{id}}][year]" class="form-input form-select">
          <option disabled>{{lang 'date.year'}}</option>
          {{#enumerate earliest_year latest_year}}
            <option value="{{this}}" {{#equals ../selected_date.year this}}selected="selected"{{/equals}}>{{this}}</option>
          {{/enumerate}}
        </select>
      </div>
    </div>

  </label>
</div>
