<div class="form-field form-field-options form-field-checkbox{{#if required}} required{{/if}}" data-product-attribute="input-checkbox">
  <div class="form-label-text product-option-title">
    {{display_name}}
  </div>

  <div class="form-field-control">
    <label class="form-label {{class}}">
      <input
        class="form-input form-checkbox"
        id="attribute-{{id}}"
        name="attribute[{{id}}]"
        type="checkbox"
        value="{{value}}"
        {{#if checked}}checked{{/if}}
        {{#if required}}required{{/if}}
        aria-required="{{required}}">
      <span>{{label}}</span>
    </label>
  </div>
</div>
