<div class="form-field {{#if required }}required{{/if}}" data-product-attribute="product-list">
  <label class="form-label-text product-option-title">
    {{display_name}}
  </label>

  {{#unless values.1.image}}

    {{!-- same as radio buttons if no image set --}}
    <div class="form-inline">
      {{#each values}}
        <label class="form-label radio" for="attribute_{{id}}_{{../id}}">
          <input type="radio" class="form-input" name="attribute[{{../id}}]" id="attribute_{{id}}_{{../id}}" value="{{id}}" {{#if selected}}checked{{/if}}>
          <span class="input-label">{{label}}</span>
        </label>
      {{/each}}
      <label class="form-label radio" for="attribute_0_{{id}}">
        <input type="radio" class="form-input" name="attribute[{{id}}]" value="0" id="attribute_0_{{id}}" {{#if defaultValue '==' 0}}checked{{/if}}>
        <span class="input-label">{{lang 'product.none'}}</span>
      </label>
    </div>

  {{else}}

    <ul class="product-picklist">
      {{#each values}}
        <li class="product-picklist-item">
          <input class="product-picklist-radio" type="radio" name="attribute[{{../id}}]" value="{{id}}" id="attribute_{{id}}_{{../id}}" {{#if selected}}checked{{/if}} {{#if ../required}}required{{/if}}>
          <label class="product-picklist-block" for="attribute_{{id}}_{{../id}}">
            {{#if image}}
              <div class="product-picklist-image-container">
                <img class="product-picklist-image" src="{{getImage image 'thumb'}}" alt="{{image.alt}}">
              </div>
            {{/if}}
            <span class="product-picklist-label">{{label}}</span>
          </label>
        </li>
      {{/each}}
      <li class="product-picklist-item">
        <input class="product-picklist-radio" type="radio" name="attribute[{{id}}]" value="0" id="attribute_0_{{id}}" {{#if defaultValue '==' 0}}checked{{/if}} {{#if required}}required{{/if}}>
        <label class="product-picklist-block picklist-none" for="attribute_0_{{id}}">
          <span class="product-picklist-label">{{lang 'product.none'}}</span>
        </label>
      </li>
    </ul>

  {{/unless}}
</div>
