
<div class="form-field set-rectangle {{#if required }}required{{/if}}" data-product-attribute="set-rectangle">
  <div class="product-option-title">
    {{display_name}}
  </div>
  <div class="form-rectangles">
    {{#each values}}
      <label class="form-label rectangle" data-product-attribute-value="{{id}}">
        <input type="radio" name="attribute[{{../id}}]" id="attribute-{{id}}" value="{{id}}" {{#if selected}}checked{{/if}}>
        <span class="rectangle-text">{{label}}</span>
      </label>
    {{/each}}
  </div>
</div>
