{{> components/category/subcategory-brand-list list=category.subcategories title=(lang 'category.sub_categories')}}

{{#if category.faceted_search_enabled}}
  <span class="link faceted-search-toggle" data-faceted-search-toggle data-show-text="{{lang 'faceted_search.show'}}" data-hide-text="{{lang 'faceted_search.hide'}}">
  </span>
  <div class="faceted-search" data-faceted-search>
    {{#each category.facets}}
      {{#if visible}}
        {{#if items.length}}
          <div class="facet-list {{display}}" data-facet-filter>

            {{> components/common/facet-toggle title=title}}

            {{{dynamicComponent 'components/faceted-search/facets'}}}

            {{#if remove_url}}
              <a class="link facet-remove" href="{{remove_url}}" data-faceted-search-facet data-facet-remove>{{lang 'faceted_search.clear'}}</a>
            {{/if}}
          </div>
        {{/if}}
        {{#compare facet 'price'}}
          <div class="facet-list {{display}}" data-facet-filter>

            {{> components/common/facet-toggle title=title}}

            {{{dynamicComponent 'components/faceted-search/facets'}}}

            {{#if remove_url}}
              <a class="link facet-remove" href="{{remove_url}}" data-faceted-search-facet data-facet-remove>{{lang 'faceted_search.clear'}}</a>
            {{/if}}
          </div>
        {{/compare}}
      {{/if}}
    {{/each}}
  </div>
{{else}}
  {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
{{/if}}
