<div data-compare-widget class="compare-wrap custom-util dropdown">
  <button class="top-bar-button button-compare-toggle dropdown-toggle">
    {{lang 'header.compare'}}
    <span class="compare-items-count"></span>
  </button>
  <div class="compare-tab dropdown-panel dropdown-panel-tooltip" data-compare-tab>
    <ul class="compare-items-list" data-compare-items-wrapper data-compare-items></ul>
    <div class="compare-tab-lower">
      <a href="{{urls.compare}}" data-compare-link="{{urls.compare}}" class="button button-primary compare-submit" data-compare-text="{{lang 'compare.compare_submit'}}" data-add-more-text="{{lang 'compare.add_more'}}"></a>
    </div>
  </div>
</div>
