---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}

---
{{#partial "hero"}}
    {{> components/emthemes-modez/sections/section section='slideshow'}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">
    {{#if theme_settings.theme_variation '==' 'laparis4'}}
        {{> components/emthemes-modez/home/laparis4}}
    {{else if theme_settings.theme_variation '==' 'laparis3'}}
        {{> components/emthemes-modez/home/laparis3}}
    {{else if theme_settings.theme_variation '==' 'laparis2'}}
        {{> components/emthemes-modez/home/laparis2}}
    {{else}}
        {{> components/emthemes-modez/home/default}}
    {{/if}}
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-704728d4-ec0a-4200-a5f6-249b31e40c20"></div>
   <!--
    <div id="papainstagram-render"></div>
    -->
    
    <!-- Shopper Approved - templates/pages/home.html -->

<div id="SA_wrapper" ></div><script type="text/javascript">var sa_interval = 5000;function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } if (typeof(shopper_first) == 'undefined') saLoadScript('https://www.shopperapproved.com/widgets/38114/merchant/rotating-widget/712Hgwn0Sszh.js'); </script>

<br /><br />
    <!-- END Shopper Approved - templates/pages/home.html -->
</div>
<script type="text/javascript">
    var randPage = Math.floor(Math.random() * 12);
    if(randPage == 0){
        randPage = randPage+1;
    }
    //let url = `/new/?page=${randPage}&limit=10`;
    let url = `/search.php?page=${randPage}&section=product&mode=1&search_query_adv=Urban%20Forge&brand=&searchsubs=ON&price_from=&price_to=&featured=1&shipping=&category%5B0%5D=1421&category%5B1%5D=1394&category%5B2%5D=1165&category%5B3%5D=1395&category%5B4%5D=1189&category%5B5%5D=1375&category%5B6%5D=1412&category%5B7%5D=1169&category%5B8%5D=1382&limit=10`;
    fetch(url) 
        .then(response => response.text())  
        .then(html => {
          let parser = new DOMParser();
          let html_formatted = parser.parseFromString(html, "text/html");
          let html_needed = html_formatted.querySelector('.productGrid').innerHTML;
          //console.log(html);
          document.querySelector('.emthemesModez-section--newProducts ul.productGrid').innerHTML = html_needed;
          document.querySelector('.emthemesModez-section--newProducts ul.productGrid').style.display="block";
    });
</script>
{{/partial}}
{{> layout/base}}
