
<div class="form-field {{#if required }}required{{/if}}" data-product-attribute="set-radio">
  <div class="product-option-title">
    {{display_name}}
  </div>
  <div class="form-inline">
    {{#each values}}
      <label class="form-label radio" data-product-attribute-value="{{id}}">
        <input type="radio" class="form-input" name="attribute[{{../id}}]" value="{{id}}" {{#if selected}}checked{{/if}}>
        <span class="form-label-text">{{label}}</span>
      </label>
    {{/each}}
  </div>
</div>
