<div class="form-field swatch-group {{#if required }}required{{/if}}" data-product-attribute="swatch">
  <div class="form-label-text product-option-title">
    {{display_name}}
    <span class="swatch-value"></span>
  </div>

  <div class="swatches">
    {{#each values}}
      <label class="swatch-wrap" data-swatch-value="{{label}}" data-product-attribute-value="{{id}}">
        <span class="sr-only">{{label}}</span>

        <input type="radio" class="swatch-radio" name="attribute[{{../id}}]" value="{{id}}" {{#if selected}}checked{{/if}}>

        <div class="swatch">
          <svg class="icon icon-check-mark"><use xlink:href="#icon-check-mark" /></svg>
          {{#if pattern}}
            <div class="swatch-color" style="background-image: url('{{getImage image 'core-swatch'}}');"></div>
          {{/if}}

          {{#if data.[0]}}
            <div class="swatch-color" style="background-color: #{{data.[0]}}"></div>
          {{/if}}

          {{#if data.[1]}}
            <div class="swatch-color secondary" style="background-color: #{{data.[1]}}"></div>
          {{/if}}

          {{#if data.[2]}}
            <div class="swatch-color tertiary" style="background-color: #{{data.[2]}}"></div>
          {{/if}}
        </div>

        {{#if pattern}}
          <span class="swatch-pattern-expanded">
            <span class="swatch-pattern-image" style="background-image: url('{{getImage image}}');">
                
          </span>
          {{label}}
          </span>
          
        {{/if}}

      </label>
    {{/each}}
  </div>
</div>
