<nav class="navUser navUser--right">
    <ul class="navUser-section navUser-section--alt">
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navUser-item navUser-item--social">
                {{> components/common/social-links}}
            </li>
        {{/if}}
        <li class="navUser-item navUser-item--contact">
            <a class="navUser-action navUser-action--contact" href="tel:1-800-380-4766">1-800-380-4766</a>
        </li>
        <li class="navUser-item navUser-item--location">
            <a class="navUser-action navUser-action--location" href="/store-location/"><span class="navUser-item-icon navUser-item-locationIcon emthemesModez-icon-location-pin"></span>
                <span class="navUser-action-locationLabel">Locations</span>
        
            </a>
        </li>
        <li class="navUser-item navUser-item--quickSearch">
            <a class="navUser-action navUser-action--quickSearch snize-custom-widget-opener" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                <span class="navUser-item-icon navUser-item-searchIcon emthemesModez-icon-linear-magnifier"></span>
                <span class="navUser-item-searchLabel">{{lang 'common.search'}}</span>
            </a>
        </li>
        {{#if theme_settings.navPages-show-cart}}
        <li class="navUser-item navUser-item--cart hide-desktop">
            <a
                class="navUser-action"
                data-cart-preview
                href="{{urls.cart}}">
                <span class="navUser-item-icon navUser-item-cartIcon emthemesModez-icon-linear-cart"></span>
                <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>
        </li>
        {{else}}
        <li class="navUser-item navUser-item--cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="navUser-item-icon navUser-item-cartIcon emthemesModez-icon-linear-cart"></span>
                <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
        {{/if}}
        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
        <li class="navUser-item navUser-item--account">
            {{#if customer}}
                <a class="navUser-action" href="{{urls.account.index}}">
                    <span class="navUser-item-icon navUser-item-accountIcon fa fa-user"></span>
                    <span class="navUser-item-accountLabel">{{lang 'common.account'}}</span>
                </a>
                <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            {{else}}
                <a class="navUser-action" href="{{urls.auth.login}}">
                    <span class="navUser-item-icon navUser-item-loginIcon fa fa-user"></span>
                    <span class="navUser-item-loginLabel">{{lang 'common.login'}}</span>
                </a>
                {{!--
                {{#if settings.account_creation_enabled}}
                    <span class="navUser-or">{{lang 'common.or'}}</span> <a class="navUser-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
                --}}
            {{/if}}
        </li>
    </ul>
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
        {{> components/common/quick-search}}
    </div>
</nav>
