<div class="u-sep">
    <span class="u-sep-l"></span>
    <h2 class="page-heading">{{lang 'products.new' }}</h2>
    <span class="u-sep-r"></span>
</div>

{{#if display_type '==' 'carousel'}}
    {{> components/products/carousel products=products}}
{{else if display_type '==' 'grid'}}

    {{inject "emthemesModez_enableProductBrandsTabs" true}}
    <div class="emthemesModez-productBrandsTabs"></div>
    <ul class="productGrid productGrid--maxCol{{ columns }} {{#if style}}productGrid--{{style}}{{/if}} emthemesModez-productBrandsTabs-products" data-product-type="new">
        {{#each products.featured}}
            <li class="product" data-product-brand="{{brand.name}}">
                {{>components/products/card theme_settings=../theme_settings customer=../customer show_rating=../settings.show_product_rating show_compare=../show_compare show_wishlist=../show_wishlist}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <ul class="productList productList--maxCol{{ columns }} productList--block {{#if style}}productGrid--{{style}}{{/if}}" data-product-type="new">
        {{#each products}}
            <li class="product">
                {{>components/products/list-item
                	show_rating=false
                	summary=false
                	show_compare=../show_compare
                    show_wishlist=../show_wishlist
                	show_rating=../settings.show_product_rating
                	theme_settings=../theme_settings customer=../customer}}
            </li>
        {{/each}}
    </ul>
{{/if}}
