<main>
    {{#if brands}}
        <ul class="brandGrid" id="brandGrid">
            {{#each brands}}
                <li class="brand" data-brand-code="{{dashcase name}}"{{#if ../theme_settings.brandspage_layout '===' 'newest'}} style="order: -{{id}};"{{/if}}>
                    <article class="card {{#if alternate}}card--alternate{{/if}}">
                        {{#unless ../theme_settings.brandspage_layout '===' 'aztable'}}
                        <figure class="card-figure">
                            <a href="{{url}}" data-instantload>
                                <div class="card-img-container">
                                    <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'brand_size' (cdn ../../theme_settings.default_image_brand)}}" alt="{{name}}" title="{{name}}">
                                </div>
                            </a>
                        </figure>
                        {{/unless}}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{url}}" data-instantload>{{name}}</a>
                            </h4>
                        </div>
                    </article>
                </li>
            {{/each}}
        </ul>
    {{/if}}
    {{> components/common/paginator pagination.brands}}
</main>
